* {
    font-family: 'CIBFontSans', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'CIBFontSans', sans-serif;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 1200px; 
}

header {
    text-align: left;
    width: 80%; 
    max-width: 1200px; 
    margin-bottom: 150px; 
}

header h1 {
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
    text-align: left;
}

header h2 {
    font-family: 'CIBFontSans', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
    text-align: left;
}

.tools {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.tool {
    text-align: center;
    width: 150px;
    margin: 10px;
}

.tool img {
    width: 60px;
    height: 60px;
}

.tool p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.2;
}

footer {
    margin-top: 20px;
}

footer img {
    width: 150px;
    float: left;
    margin-right: 1030px;
}

.description-container {
    display: none;
    margin-top: 10px;
    text-align: left;
}

.description-container p {
    font-size: 14px;
    margin-bottom: 5px;
}

.description-container .btn {
    display: inline-block;
}

.tool.selected {
    border: 2px solid #007bff; 
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f8ff; 
}